body {
    margin: 0;
    padding: 0;
    background-image: url('./Assets/Jojo2.jpg');
    background-size: cover; /* faz a imagem cobrir toda a área disponível */
    background-position: center; /* centraliza a imagem */
    background-attachment: fixed; /* fixa a imagem no fundo, para que não role com a página */
}

#image-button-style {
    height: 100px;
    cursor: pointer;
}

#image-button {
    width: 200px;
    height: 200px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
}

/* ButtonMain.css */
#image-button {
    opacity: 1;
    transition: opacity 0.3s ease; /* Adicione uma transição suave */
}

#image-button.hide {
    opacity: 0;
    pointer-events: none; /* Impede que o botão seja clicado quando estiver invisível */
}


#image-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

#image-button:active {
    color: #000;
    outline: none;
}

#image-button:active:after {
    background: transparent;
}

#image-button:hover:before {
    opacity: 1;
}

#image-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 50%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

h2 {
    font-size: 28px;
    color: red;
    text-align: center;
    position: absolute;
    top: calc(45% - 120px); /* Posiciona o título acima do botão */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    z-index: 1; /* Garante que o título fique sobre o botão */
    animation: blinking 1s infinite; /* Define a animação */
}

/* Classe para esconder o título */
.hidden {
    display: none;
}
@keyframes blinking {
    0% {
        opacity: 1; /* Tornar visível */
    }
    50% {
        opacity: 0; /* Tornar invisível */
    }
    100% {
        opacity: 1; /* Tornar visível novamente */
    }
}
