body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    padding: 0;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: oblique;
    text-decoration: none;
    letter-spacing: 0.3px;
    line-height: 1.5;
    text-align: center;
    animation: blink 1s linear infinite;
    display: inline-block;

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}