body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.container-personagens {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    width: 600px;
    height: 700px;
    margin: 1rem;
    background-color: white;
}

.glow:before, .glow:after {
    position: absolute;
    left: -2;
    top: -2;
    background: linear-gradient(45deg , #e6fb04, #ff6600, #00ff66, #00ffff, #ff99ff, #ff0099, #6e0dd0, #ff3300, #099fff );
    content: '';
    background-size: 400%;
    top: 105px;
    border-radius: 1rem;
    width: calc(33% + 7px);
    height: calc(74% + 35px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0% {
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow:after{
    filter: blur(30px)
    opacity(0.99)
}

.container-personagens__dentro {
    height: 580px;
    text-align: start;
    display: flex;
    align-items: center;
    font-family: poppins;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 500px;
    background-color: rgb(255, 255, 255);
}

#h1-formulario {
    font-family: poppins;
    font-size: 24px;
}

#button-33, #button-44, #button-55 {
  background-color: #aa01ff;
  border-radius: 100px;
  box-shadow: rgba(137, 0, 179, 0.2) 0 -25px 18px -14px inset,rgba(139, 0, 179, 0.2) 0 1px 2px,rgba(132, 0, 179, 0.2) 0 2px 4px,rgba(187, 1, 255, 0.2) 0 4px 8px,rgba(130, 0, 179, 0.2) 0 8px 16px,rgba(137, 0, 179, 0.2) 0 16px 32px;
  color: rgb(240, 199, 255);
  cursor: pointer;
  display: inline-block;
  font-family: poppins;
  padding: 7px 17px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button-33:hover, #button-44:hover,#button-55:hover {
  box-shadow: rgba(221, 0, 255, 0.35) 0 -25px 18px -14px inset,rgba(238, 0, 255, 0.25) 0 1px 2px,rgba(221, 0, 255, 0.35) 0 2px 4px,rgba(221, 0, 255, 0.35) 0 4px 8px,rgba(137, 0, 179, 0.2) 0 8px 16px,rgba(197, 6, 255, 0.2) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
