body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.container-personagens {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 700px;
    margin: 1rem;
    background-color: whitesmoke;
}

.container-personagens__dentro {
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    width: 500px;
    background-color: rgb(171, 52, 52);
}